.create-container {
    max-width: 1000px; 
    width: 90%; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 auto; 
}

h1 {
    text-align: center;
    margin-bottom: 20px; 
}

hr {
    border-color: red;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.logout-button-container {
    text-align: right;
    margin-bottom: 10px;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #c82333;
}
